html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 0;
  margin: 0;
}

.maincontainer .container-fluid {
  height: 100%;
  padding: 0;
}

.bg-image {
  background-image: url("../../assets/loginGym.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 95vh;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-control,
.btn {
  height: 45px;
  font-size: 16px;
}

.form-control {
  transition: box-shadow 0.3s ease-in-out;
}

.form-control:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.btn {
  padding: 10px 20px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .bg-image {
    min-height: 40vh;
  }
  .login {
    min-height: 30vh;
  }
}
